.notfound__heading {
    font-size: 80px;
    letter-spacing: -0.05em;
    font-weight: 700;
    margin-bottom: 0;
}

.notfound__second__heading {
    font-size: 40px;
    letter-spacing: -0.05em;
    font-weight: 700;
}