.header {
    background-color: #111111;
    padding: 10px;
}

.header__col__links {
    text-align: end;
}

.nav__link {
    color: #f5f5f5;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav__link:hover {
    color: #8c7ae6
}

.nav__link:active {
    color: #8c7ae6 !important;
    font-weight: 700;
}